{% extends 'base.html' %}
{% load static %}

{% block mtitle %}Esio Motores - erro 500{% endblock %}
{% block mdescription %}Erro interno inesperado{% endblock %}
{% block title %}Esio Motores - erro 500{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="errors" class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h1>500</h1>
                <h2>Erro interno inesperado</h2>
                <br>
                <p class="lead">
                    Desculpe. Ocorreu um erro inesperado.<br>
                    Nossa equipe já foi notificada do problema.
                </p>
            </div><!-- end ERRORS -->
        </div><!-- end ROW -->
    </div><!-- end CONTAINER -->
{% endblock %}
