{% load static %}
{% load form_tags %}
    <div class="footer container-fluid">
      <div id="main-footer" class="row">

        <div id="address" class="col-md-offset-1 col-md-4">
          <img id="logo" src="{% static 'img/00-logo.png' %}">
          <div class="row">
            <div class="col-md-1">
              <img id="add-icon" class="icon" src="{% static 'img/00-address_icon.png' %}">
            </div>
            <div id="add-content" class="col-md-11">
              <p>
                Rua Cel. José Bastos, 1284 <br>
                Bairro Marechal Castelo Branco <br>
                Itaperuna-RJ 28300-000
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <img class="icon" src="{% static 'img/00-phone_icon.png' %}">
            </div>
            <div class="col-md-11">
              <p>(22) 3824-1085</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <img class="icon" src="{% static 'img/00-whatsapp_icon.png' %}">
            </div>
            <div class="col-md-11">
              <p>(22) 99931-7684</p>
            </div>
          </div>
        </div><!-- end of column ADDRESS -->

        <div class="col-md-3">
          <div id="links" class="col-md-offset-2 col-md-4">
            <p id="home"><a href="/">Home</a></p>
            <p><a href="/institucional/">Institucional</a></p>
            <p><a href="/solucoes/">Soluções</a></p>
            <p><a href="/noticias/geral/1/">Notícias</a></p>
            <p><a href="/contato/">Contato</a></p>
          </div>
        </div><!-- end of column MENU -->

        <div id="cadastro" class="col-md-4">
          <p>Cadastre-se e fique por dentro das nossas novidades:</p>

            <form name="register_form" action="." method="post">
              {% csrf_token %}
              {{ form.name | add_attributes:'placeholder:nome'}}
              {{ form.email | add_attributes:'placeholder:email'}}
              <button name="register_form_submit" type="submit">ENVIAR</button>
            </form>
            <br>
            {% if messages %}
                {% for message in messages %}
                    <h4><span id="register-message" class="label">
                        {{ message | striptags }}
                    </span></h4>
                    <br><br>
                {% endfor %}
            {% endif %}

        </div>
      </div><!-- end of column REGISTER -->

      <div id="developed" class="row">
        Desenvolvido por <a id="link" href="mailto:contato@renatopadilha.com.br">Renato Padilha</a>
      </div>
    </div><!-- end of FOOTER -->
